/** @format */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px 0px;
}

.app {
  /* background-color: #f17f42; */
  position: relative;
  /* background-color: #e53a40; */
  background-color: #30a9de;
  /* background-color: #f5df4d; */
  width: 100%;
  height: 100vh;
}
