/** @format */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px 0px;
}

.app {
  /* position: relative; */
  height: 100vh;
  background-color: #f17f42;
}
