#main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header____tail {
  display: flex;
  width: 75%;
  min-width: 500px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 65vh;
  text-align: center;
  background: url("../image/rankback.png");
  z-index: 1;
  border: solid 15px #383a3f;
  border-bottom-width: 25px;
  border-top-width: 25px;
  border-radius: 0.6rem 0.6rem 0 0;
}

.header_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.header_logo {
  width: 30vw;
  height: 25vh;
  margin-bottom: 50px;
}

.header_enter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.header_enter_test {
  font-size: 1.6vw;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    color: white;
  }
  100% {
    color: white;
    text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
  }
}

.header_enter_tail {
  font-size: 1.2vw;
  color: #e53a40;
  text-shadow: -2px 0 #30a9de, 0 2px #30a9de, 2px 0 #30a9de, 0 -2px #30a9de;
}

.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40%;
  text-align: center;
  border: solid green;
}

.tail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 13vh;
  text-align: center;
  background-color: #cadbe9;
  border-top-width: 2.5px;
  border-top-style: solid;
  border-top-color: #090707;
  border-radius: 0 0 0.6rem 0.6rem;
}

.tail_button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
