/* :root {
  --graphWidth: 0%;
} */

#ranking {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ranking____header____tail {
  display: flex;
  width: 80%;
  min-width: 500px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ranking_list_table {
  width: 80%;
  /* min-width: 480px; */
  max-width: 900px;
  height: 65vh;
  min-height: 580px;
  background: url("../image/rankback.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
    2px 10px 23px 0 rgb(96 96 96 / 13%);
  /* padding: 20px 0px 40px 0px; */
  padding: 20px 40px 40px 40px;
  padding-bottom: 20px;
  color: #fffff3;
}

.select_wrapper {
  display: flex;
  /* height: 25%; */
  height: 10vh;
}

.dropbtn {
  display: flex;
  align-items: center;
  font-size: max(15px, 0.6vw);
  color: white;
  background-color: #4e4e4e;
  width: 22%;
  height: 40%;
  min-height: 20px;
  border-radius: 5px 5px 0px 0px;
  outline: none;
}

.dropbtn_text {
  width: 100%;
}

.dropbtn_img {
  display: flex;
  width: 15%;
  min-width: 18px;
  max-width: 25px;
  /* color: #ffbd0a; */
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #353535;
}

.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0px 0px 5px 5px;
  /* right: 0; */
}

.dropdown a:hover {
  background-color: #353535;
}

.dropdown-content span {
  background-color: #1a1919;
  color: white;
  padding: 12px 16px;
  display: block;
}

.dropdown span:hover {
  background-color: #353535;
}

.show {
  display: block;
}

.ranking_table_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
}

.ranking_table {
  width: 100%;
  /* border-top: 1px solid #444444; */
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #444444;
  padding: 5px;
  /* background-color: #fafafa; */
  background-color: #1a1919;
}

td {
  border-bottom: 1px solid #1a1919;
  padding: 10px 10px 10px 5px;
  /* color: #e6cc80; */
}

tbody tr:nth-child(2n) {
  background-color: #353535;
}
tbody tr:nth-child(2n + 1) {
  background-color: #4e4e4e;
}

tbody tr:nth-child(n + 11) {
  display: none;
}

tbody tr:nth-child(n - 3) {
  color: #ff8000;
  text-align: center;
}

tbody tr:nth-child(n + 4) {
  color: #a335ee;
}

tbody tr:hover {
  background-color: #2a1a1a;
}

.rank__name,
.rank__record,
.rank__time {
  text-align: left;
  color: white;
}

.column__rank {
  width: 20%;
  color: #e53a40;
}

.column__nick {
  width: 30%;
  text-align: left;
  color: #e53a40;
}

.column__record {
  width: 25%;
  text-align: left;
  color: #e53a40;
}

.column__time {
  width: 25%;
  text-align: left;
  color: #e53a40;
}

.ranking_table_myRanking {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 15%;
}

.myRanking_table {
  width: 100%;
  border-collapse: collapse;
}

.myRanking_table_arrow {
  display: none;
  border-radius: 8px;
  background: white;
  border: solid transparent;
  color: black;
  border-width: 15px;
  z-index: 10;
}

.myRanking_table_arrow2 {
  display: none;
  border-radius: 8px;
  background: white;
  border: solid transparent;
  color: black;
  border-width: 15px;
  z-index: 10;
}

.myRanking_table_triangle {
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px;
  border-color: white transparent transparent transparent;
  z-index: 10;
}

.myRanking_rank {
  width: 20%;
  color: #ffbd0a;
  border-radius: 0px 0px 0px 5px;
}

.myRanking_name {
  width: 30%;
  text-align: left;
  color: #ffbd0a;
}

.myRanking_record {
  width: 25%;
  text-align: left;
  color: #ffbd0a;
}

.myRanking_time {
  width: 25%;
  text-align: left;
  color: #ffbd0a;
  border-radius: 0px 0px 5px 0px;
}

.ranking_tail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 900px;
  min-width: 300px;
  height: 17rem;
  /* height: 22rem; */
}

.ranking_detail2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* min-width: 450px; */
  height: 95%;
  /* min-height: 250px; */
  background: #f0f5f9;
  box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
    2px 10px 23px 0 rgb(96 96 96 / 13%);
  padding: 10px;
}

.detail_body2_header {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail_body2 {
  height: 90%;
}

.detail_body2_header_top {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header_me_text {
  font-size: max(0.5em, 0.6vw);
}

.header_me {
  width: 5%;
  height: 100%;
  background: #30a9de;
  margin-right: 10px;
}

.detail_body2_header_bottom {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header_top1 {
  width: 5%;
  height: 100%;
  background: #e53a40;
  margin-right: 10px;
}

.header_top1_text {
  font-size: max(0.5em, 0.6vw);
}

@keyframes p-1 {
  from {
    height: 0;
  }
  to {
    height: 1%;
  }
}
@keyframes p-2 {
  from {
    height: 0;
  }
  to {
    height: 2%;
  }
}
@keyframes p-3 {
  from {
    height: 0;
  }
  to {
    height: 3%;
  }
}
@keyframes p-4 {
  from {
    height: 0;
  }
  to {
    height: 4%;
  }
}
@keyframes p-5 {
  from {
    height: 0;
  }
  to {
    height: 5%;
  }
}
@keyframes p-6 {
  from {
    height: 0;
  }
  to {
    height: 6%;
  }
}
@keyframes p-7 {
  from {
    height: 0;
  }
  to {
    height: 7%;
  }
}
@keyframes p-8 {
  from {
    height: 0;
  }
  to {
    height: 8%;
  }
}
@keyframes p-9 {
  from {
    height: 0;
  }
  to {
    height: 9%;
  }
}
@keyframes p-10 {
  from {
    height: 0;
  }
  to {
    height: 10%;
  }
}
@keyframes p-11 {
  from {
    height: 0;
  }
  to {
    height: 11%;
  }
}
@keyframes p-12 {
  from {
    height: 0;
  }
  to {
    height: 12%;
  }
}
@keyframes p-13 {
  from {
    height: 0;
  }
  to {
    height: 13%;
  }
}
@keyframes p-14 {
  from {
    height: 0;
  }
  to {
    height: 14%;
  }
}
@keyframes p-15 {
  from {
    height: 0;
  }
  to {
    height: 15%;
  }
}
@keyframes p-16 {
  from {
    height: 0;
  }
  to {
    height: 16%;
  }
}
@keyframes p-17 {
  from {
    height: 0;
  }
  to {
    height: 17%;
  }
}
@keyframes p-18 {
  from {
    height: 0;
  }
  to {
    height: 18%;
  }
}
@keyframes p-19 {
  from {
    height: 0;
  }
  to {
    height: 19%;
  }
}
@keyframes p-20 {
  from {
    height: 0;
  }
  to {
    height: 20%;
  }
}
@keyframes p-21 {
  from {
    height: 0;
  }
  to {
    height: 21%;
  }
}
@keyframes p-22 {
  from {
    height: 0;
  }
  to {
    height: 22%;
  }
}
@keyframes p-23 {
  from {
    height: 0;
  }
  to {
    height: 23%;
  }
}
@keyframes p-24 {
  from {
    height: 0;
  }
  to {
    height: 24%;
  }
}
@keyframes p-25 {
  from {
    height: 0;
  }
  to {
    height: 25%;
  }
}
@keyframes p-26 {
  from {
    height: 0;
  }
  to {
    height: 26%;
  }
}
@keyframes p-27 {
  from {
    height: 0;
  }
  to {
    height: 27%;
  }
}
@keyframes p-28 {
  from {
    height: 0;
  }
  to {
    height: 28%;
  }
}
@keyframes p-29 {
  from {
    height: 0;
  }
  to {
    height: 29%;
  }
}
@keyframes p-30 {
  from {
    height: 0;
  }
  to {
    height: 30%;
  }
}
@keyframes p-31 {
  from {
    height: 0;
  }
  to {
    height: 31%;
  }
}
@keyframes p-32 {
  from {
    height: 0;
  }
  to {
    height: 32%;
  }
}
@keyframes p-33 {
  from {
    height: 0;
  }
  to {
    height: 33%;
  }
}
@keyframes p-34 {
  from {
    height: 0;
  }
  to {
    height: 34%;
  }
}
@keyframes p-35 {
  from {
    height: 0;
  }
  to {
    height: 35%;
  }
}
@keyframes p-36 {
  from {
    height: 0;
  }
  to {
    height: 36%;
  }
}
@keyframes p-37 {
  from {
    height: 0;
  }
  to {
    height: 37%;
  }
}
@keyframes p-38 {
  from {
    height: 0;
  }
  to {
    height: 38%;
  }
}
@keyframes p-39 {
  from {
    height: 0;
  }
  to {
    height: 39%;
  }
}
@keyframes p-40 {
  from {
    height: 0;
  }
  to {
    height: 40%;
  }
}
@keyframes p-41 {
  from {
    height: 0;
  }
  to {
    height: 41%;
  }
}
@keyframes p-42 {
  from {
    height: 0;
  }
  to {
    height: 42%;
  }
}
@keyframes p-43 {
  from {
    height: 0;
  }
  to {
    height: 43%;
  }
}
@keyframes p-44 {
  from {
    height: 0;
  }
  to {
    height: 44%;
  }
}
@keyframes p-45 {
  from {
    height: 0;
  }
  to {
    height: 45%;
  }
}
@keyframes p-46 {
  from {
    height: 0;
  }
  to {
    height: 46%;
  }
}
@keyframes p-47 {
  from {
    height: 0;
  }
  to {
    height: 47%;
  }
}
@keyframes p-48 {
  from {
    height: 0;
  }
  to {
    height: 48%;
  }
}
@keyframes p-49 {
  from {
    height: 0;
  }
  to {
    height: 49%;
  }
}
@keyframes p-50 {
  from {
    height: 0;
  }
  to {
    height: 50%;
  }
}
@keyframes p-51 {
  from {
    height: 0;
  }
  to {
    height: 51%;
  }
}
@keyframes p-52 {
  from {
    height: 0;
  }
  to {
    height: 52%;
  }
}
@keyframes p-53 {
  from {
    height: 0;
  }
  to {
    height: 53%;
  }
}
@keyframes p-54 {
  from {
    height: 0;
  }
  to {
    height: 54%;
  }
}
@keyframes p-55 {
  from {
    height: 0;
  }
  to {
    height: 55%;
  }
}
@keyframes p-56 {
  from {
    height: 0;
  }
  to {
    height: 56%;
  }
}
@keyframes p-57 {
  from {
    height: 0;
  }
  to {
    height: 57%;
  }
}
@keyframes p-58 {
  from {
    height: 0;
  }
  to {
    height: 58%;
  }
}
@keyframes p-59 {
  from {
    height: 0;
  }
  to {
    height: 59%;
  }
}
@keyframes p-60 {
  from {
    height: 0;
  }
  to {
    height: 60%;
  }
}
@keyframes p-61 {
  from {
    height: 0;
  }
  to {
    height: 61%;
  }
}
@keyframes p-62 {
  from {
    height: 0;
  }
  to {
    height: 62%;
  }
}
@keyframes p-63 {
  from {
    height: 0;
  }
  to {
    height: 63%;
  }
}
@keyframes p-64 {
  from {
    height: 0;
  }
  to {
    height: 64%;
  }
}
@keyframes p-65 {
  from {
    height: 0;
  }
  to {
    height: 65%;
  }
}
@keyframes p-66 {
  from {
    height: 0;
  }
  to {
    height: 66%;
  }
}
@keyframes p-67 {
  from {
    height: 0;
  }
  to {
    height: 67%;
  }
}
@keyframes p-68 {
  from {
    height: 0;
  }
  to {
    height: 68%;
  }
}
@keyframes p-69 {
  from {
    height: 0;
  }
  to {
    height: 69%;
  }
}
@keyframes p-70 {
  from {
    height: 0;
  }
  to {
    height: 70%;
  }
}
@keyframes p-71 {
  from {
    height: 0;
  }
  to {
    height: 71%;
  }
}
@keyframes p-72 {
  from {
    height: 0;
  }
  to {
    height: 72%;
  }
}
@keyframes p-73 {
  from {
    height: 0;
  }
  to {
    height: 73%;
  }
}
@keyframes p-74 {
  from {
    height: 0;
  }
  to {
    height: 74%;
  }
}
@keyframes p-75 {
  from {
    height: 0;
  }
  to {
    height: 75%;
  }
}
@keyframes p-76 {
  from {
    height: 0;
  }
  to {
    height: 76%;
  }
}
@keyframes p-77 {
  from {
    height: 0;
  }
  to {
    height: 77%;
  }
}
@keyframes p-78 {
  from {
    height: 0;
  }
  to {
    height: 78%;
  }
}
@keyframes p-79 {
  from {
    height: 0;
  }
  to {
    height: 79%;
  }
}
@keyframes p-80 {
  from {
    height: 0;
  }
  to {
    height: 80%;
  }
}
@keyframes p-81 {
  from {
    height: 0;
  }
  to {
    height: 81%;
  }
}
@keyframes p-82 {
  from {
    height: 0;
  }
  to {
    height: 82%;
  }
}
@keyframes p-83 {
  from {
    height: 0;
  }
  to {
    height: 83%;
  }
}
@keyframes p-84 {
  from {
    height: 0;
  }
  to {
    height: 84%;
  }
}
@keyframes p-85 {
  from {
    height: 0;
  }
  to {
    height: 85%;
  }
}
@keyframes p-86 {
  from {
    height: 0;
  }
  to {
    height: 86%;
  }
}
@keyframes p-87 {
  from {
    height: 0;
  }
  to {
    height: 87%;
  }
}
@keyframes p-88 {
  from {
    height: 0;
  }
  to {
    height: 88%;
  }
}
@keyframes p-89 {
  from {
    height: 0;
  }
  to {
    height: 89%;
  }
}
@keyframes p-90 {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}
@keyframes p-91 {
  from {
    height: 0;
  }
  to {
    height: 91%;
  }
}
@keyframes p-92 {
  from {
    height: 0;
  }
  to {
    height: 92%;
  }
}
@keyframes p-93 {
  from {
    height: 0;
  }
  to {
    height: 93%;
  }
}
@keyframes p-94 {
  from {
    height: 0;
  }
  to {
    height: 94%;
  }
}
@keyframes p-95 {
  from {
    height: 0;
  }
  to {
    height: 95%;
  }
}
@keyframes p-96 {
  from {
    height: 0;
  }
  to {
    height: 96%;
  }
}
@keyframes p-97 {
  from {
    height: 0;
  }
  to {
    height: 97%;
  }
}
@keyframes p-98 {
  from {
    height: 0;
  }
  to {
    height: 98%;
  }
}
@keyframes p-99 {
  from {
    height: 0;
  }
  to {
    height: 99%;
  }
}
@keyframes p-100 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes p-999 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

/*수정 그래프*/
.graph-wrapper2 {
  position: relative;
  /* padding: 0px 25px 25px 25px; */
  border: 1px solid #aaa;
  max-width: 800px;
  min-height: 190px;
  height: 20vh;
  margin: auto;
}

.percent-indicator2 {
  width: 100%;
  height: 105%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.percent-indicator2 .per-0::before {
  /* content: "0"; */
  font-size: max(0.5em, 0.6vw);
}
.percent-indicator2 .per-20::before {
  content: "150";
  font-size: max(0.5em, 0.6vw);
}
.percent-indicator2 .per-40::before {
  content: "300";
  font-size: max(0.5em, 0.6vw);
}
.percent-indicator2 .per-60::before {
  content: "450";
  font-size: max(0.5em, 0.6vw);
}
.percent-indicator2 .per-80::before {
  content: "600";
  font-size: max(0.5em, 0.6vw);
}
.percent-indicator2 .per-100::before {
  content: "750";
  font-size: max(0.5em, 0.6vw);
}

.percent-indicator2 div {
  position: relative;
  width: 100%;
  height: 5%;
  margin-left: -1px;
  border-top: 1px dashed #aaa;
}

.graph2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  position: relative;
  margin: 0px;
  z-index: 2;
}

.graph2_problem_count {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  font-size: max(0.5em, 0.6vw);
}

.graph2_problem_count span {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px;
  z-index: 2;
}

.graph2_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.graph2 span {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  margin: 0px;
  z-index: 2;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  background: #000;
  color: #1e2022;
  text-align: center;
  font-size: max(1em, 0.2vw);
  /* line-height: 0.1px; */
}

.item2,
.item4,
.item6,
.item8,
.item10,
.item12,
.item14,
.item16 {
  width: 30%;
  background: #e53a40;
  max-height: 100%;
}

.item1,
.item3,
.item5,
.item7,
.item9,
.item11,
.item13,
.item15 {
  width: 30%;
  background: #30a9de;
  max-height: 100%;
  z-index: 1;
}

li::before,
li:hover::after {
  display: none;
}

li::after,
li:hover::before {
  display: block;
}

/* 갤럭시 fold */
@media only screen and (min-device-width: 280px) and (max-device-width: 319px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    width: 95%;
    height: 75%;
    font-size: 0.8em;
  }
  .dropdown-content span {
    margin-left: 15px;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
  .ranking_detail2 {
    width: 70%;
  }
  li {
    font-size: 10px;
  }
}

/* 아이폰 SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    width: 100%;
    height: 75%;
    font-size: 0.8em;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
  .ranking_detail2 {
    width: 80%;
  }
  li {
    font-size: 12px;
  }
}

/* 스마트폰 모바일(세로) */
@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    width: 100%;
    height: 75%;
    font-size: 0.8em;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
  .ranking_detail2 {
    width: 100%;
  }
  li {
    font-size: 12px;
  }
}

/* 스마트폰 모바일(가로) */
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    width: 100%;
    height: 75%;
    font-size: 0.8em;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
  .ranking_detail2 {
    width: 100%;
  }
  li {
    font-size: 12px;
  }
}

/* 태블릿, 아이패드 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    width: 100%;
    height: 75%;
    font-size: 0.8em;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
  .ranking_detail2 {
    width: 100%;
  }
  li {
    font-size: 12px;
  }
}

/* 아이패드 프로 */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    width: 100%;
    height: 75%;
    font-size: 0.8em;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
  .ranking_detail2 {
    width: 100%;
  }
  li {
    font-size: 14px;
  }
  .graph-wrapper2 {
    height: 15vh;
  }
}

/* 데스크톱 */
@media (hover: hover) and (pointer: fine) and (max-height: 1000px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    /* width: 50%; */
    height: 75%;
    font-size: 0.8em;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
}

@media (hover: hover) and (pointer: fine) and (max-width: 800px) {
  .select_wrapper {
    display: flex;
    height: 3vh;
    margin-bottom: 15px;
  }
  .dropbtn {
    width: 100%;
    height: 75%;
    font-size: 0.8em;
  }
  .dropbtn_img {
    height: 100%;
    min-height: 20px;
  }
  .ranking_table_myRanking {
    height: 23%;
  }
  .ranking_detail2 {
    padding: 5px;
  }
  .detail_body2_header {
    height: 10%;
  }
}
