/* .resultModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.resultList {
  position: fixed;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 450px;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #ffeee4;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result_table {
  width: 100%;
  height: 300px;
  background-color: #090707;
  box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
    2px 10px 23px 0 rgb(96 96 96 / 13%);
  padding: 40px;
  padding-bottom: 20px;
}

.result_table__column {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.result_table__column__rank {
  width: 10%;
}

.result_table__column__nick {
  width: 30%;
}

.result_table__column__record {
  width: 40%;
}

.result_rank__0,
.result_rank__1,
.result_rank__2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.result_rank__3,
.result_rank__4,
.result_rank__5,
.result_rank__6,
.result_rank__7,
.result_rank__8 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.result_rank__8,
.result_rank__9 {
  visibility: hidden;
}

.result_rank__0 .result_rank__rank {
  visibility: hidden;
  width: 10%;
}

.result_rank__0 .result_rank__rank:after {
  visibility: visible;
  content: "🥇";
  font-size: 12px;
}

.result_rank__1 .result_rank__rank {
  visibility: hidden;
  width: 9%;
}

.result_rank__1 .result_rank__rank:after {
  visibility: visible;
  content: "🥈";
  font-size: 12px;
  padding-right: 2px;
}

.result_rank__2 .result_rank__rank {
  visibility: hidden;
  width: 9%;
  font-size: 12px;
}

.result_rank__2 .result_rank__rank:after {
  visibility: visible;
  content: "🥉";
  font-size: 12px;
  padding-right: 0px;
}

.result_rank__rank {
  width: 10%;
}

.result_rank__name {
  width: 30%;
}

.result_rank__record {
  width: 40%;
}

.toRankingPage {
  background-color: #f17f42;
}

.result_record {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
} */

.resultModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.resultList {
  position: fixed;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 450px;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result_table {
  width: 100%;
  height: 270px;
  background-color: #ffeee4;
  box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
    2px 10px 23px 0 rgb(96 96 96 / 13%);
  padding: 40px;
  padding-bottom: 20px;
}

.result_table__column {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.result_table__column__rank {
  width: 10%;
}

.result_table__column__nick {
  width: 30%;
}

.result_table__column__record {
  width: 40%;
}

.result_rank__0,
.result_rank__1,
.result_rank__2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.result_rank__3,
.result_rank__4,
.result_rank__5,
.result_rank__6,
.result_rank__7,
.result_rank__8 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.result_rank__8,
.result_rank__9 {
  visibility: hidden;
}

.result_rank__0 .result_rank__rank {
  visibility: hidden;
  width: 10%;
}

.result_rank__0 .result_rank__rank:after {
  visibility: visible;
  content: "🥇";
  font-size: 12px;
}

.result_rank__1 .result_rank__rank {
  visibility: hidden;
  width: 9%;
}

.result_rank__1 .result_rank__rank:after {
  visibility: visible;
  content: "🥈";
  font-size: 12px;
  padding-right: 2px;
}

.result_rank__2 .result_rank__rank {
  visibility: hidden;
  width: 9%;
  font-size: 12px;
}

.result_rank__2 .result_rank__rank:after {
  visibility: visible;
  content: "🥉";
  font-size: 12px;
  padding-right: 0px;
}

.result_rank__rank {
  width: 10%;
}

.result_rank__name {
  width: 30%;
}

.result_rank__record {
  width: 40%;
}

.toRankingPage {
  background-color: #f17f42;
}

.result_record {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}
