#nav_signin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#signin {
  display: flex;
  width: 100%;
  height: 100vh;
  /* height: 100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin____header____tail {
  display: flex;
  width: 100%;
  /* min-width: 500px; */
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* width: 50%; */
  /* min-width: 480px;  */
  width: 80vw;
  max-width: 960px;
  height: 65vh;
  text-align: center;
  background: url("../image/rankback.png");
  z-index: 1;
  border: solid 15px #383a3f;
  border-bottom-width: 25px;
  border-top-width: 25px;
  border-radius: 0.6rem 0.6rem 0 0;
}

.signin_header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 40%;
}

.signin_header_logo {
  /* width: 30vw; */
  /* min-width: 300px; */
  /* height: 25vh; */
  width: 80%;
  max-width: 550px;
}

.signin_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 60%;
}

.signin_body_name {
  height: 25%;
}

.signin_body_password {
  height: 20%;
}

.signin_body_name_column,
.signin_body_password_column {
  color: white;
}

.signin_body_name_input,
.signin_body_password_input {
  border-radius: 0.4rem;
  background-color: white;
}

.signin_body_name_input:focus,
.signin_body_password_input:focus {
  outline: none;
}

.signin_body_name_input_validation,
.signin_body_name_input_validation2 {
  display: none;
  color: #e53a40;
  font-size: 14px;
}

.signin_body_password_input_validation {
  display: none;
  color: #e53a40;
  font-size: 14px;
}

.signin_body_name_input_duplicate {
  display: none;
  color: #e53a40;
  font-size: 14px;
}

.signin_body_name_input_login1 {
  display: none;
  color: #e53a40;
  font-size: 13px;
}

.signin_body_name_input_login2 {
  display: none;
  color: #e53a40;
  font-size: 13px;
}

.signin_body_loginAndSignup {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  width: 98%;
  height: 15%;
}

.signin_body_loginBtn {
  width: 98%;
  color: white;
  background: black;
  border: solid 0.15rem #33ffff;
  border-radius: 0.4rem;
  cursor: pointer;
}

.signin_body_loginBtn2 {
  width: 98%;
  color: white;
  background: black;
  border: solid 0.15rem #33ffff;
  border-radius: 0.4rem;
  cursor: pointer;
  /* margin-bottom: 35px; */
}

.signin_body_signupBtn {
  width: 98%;
  color: white;
  background: black;
  border: solid 0.15rem #33ffff;
  border-radius: 0.4rem;
  cursor: pointer;
}

.signin_tail {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  /* width: 50%; */
  width: 80vw;
  max-width: 960px;
  height: 13vh;
  /* min-width: 480px;  */
  /* height: 13vh; */
  /* max-height: 166px; */
  text-align: center;
  background-color: #cadbe9;
  border-top-width: 2.5px;
  border-top-style: solid;
  border-top-color: #090707;
  border-radius: 0 0 0.6rem 0.6rem;
}

.signin_tail_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin_tail_right {
  display: none;
}

.signin_tail_right_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px;
  border-color: transparent white transparent transparent;
  z-index: 10;
  margin: 0px;
}

.signin_tail_right_arrow {
  border-radius: 8px;
  background: white;
  border: solid transparent;
  color: black;
  border-width: 10px;
  z-index: 10;
  margin: 0px;
}

.signin_tail_center:hover + .signin_tail_right {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tail_button_signin {
  border: none;
  background: url("../image/power_pending.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

/* 갤럭시 fold */
@media only screen and (min-device-width: 280px) and (max-device-width: 319px) {
  .signin_header_logo {
    height: 100%;
  }
  .signin_body_name_input_login1,
  .signin_body_name_input_validation,
  .signin_body_name_input_validation2,
  .signin_body_password_input_validation {
    font-size: 12px;
  }
  .signin_body_name {
    height: 35%;
  }

  .signin_body_password {
    height: 30%;
  }
  .signin_body_loginAndSignup {
    flex-direction: row;
    height: 10%;
    margin-bottom: 15px;
  }
}

/* 아이폰 SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .signin_header_logo {
    height: 100%;
  }
  .signin_body_name_input_login1,
  .signin_body_name_input_validation,
  .signin_body_name_input_validation2,
  .signin_body_password_input_validation {
    font-size: 11px;
  }
  .signin_body_name {
    height: 35%;
  }

  .signin_body_password {
    height: 30%;
  }
  .signin_body_loginAndSignup {
    flex-direction: row;
    height: 12%;
    margin-bottom: 15px;
  }
}

/* 스마트폰 모바일(세로) */
@media only screen and (min-device-width: 375px) and (max-device-width: 479px) {
  .signin_header_logo {
    height: 100%;
  }
  .signin_body_name_input_login1,
  .signin_body_name_input_validation,
  .signin_body_name_input_validation2,
  .signin_body_password_input_validation {
    font-size: 11px;
  }
  .signin_body_name {
    height: 35%;
  }

  .signin_body_password {
    height: 30%;
  }
  .signin_body_loginAndSignup {
    flex-direction: row;
    height: 12%;
    margin-bottom: 15px;
  }
}

/* 스마트폰 모바일(가로) */
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .signin____header____tail {
    justify-content: flex-end;
  }
  .signin_container {
    width: 85%;
    height: 68vh;
    border: solid 5px #383a3f;
    border-bottom-width: 10px;
    border-top-width: 10px;
  }
  .signin_header_logo {
    width: 30%;
  }
  .signin_tail {
    width: 85%;
    height: 13vh;
  }

  .signin_body {
    width: 310px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .signin_body_name_input_login1,
  .signin_body_name_input_validation,
  .signin_body_name_input_validation2,
  .signin_body_password_input_validation {
    font-size: 10px;
  }
  .signin_body_name {
    width: 50%;
    height: 42%;
  }

  .signin_body_password {
    height: 42%;
  }
  .signin_body_loginAndSignup {
    flex-direction: row;
    height: 17%;
    margin-bottom: 15px;
  }
  .tail_button_signin {
    width: 40px;
    height: 40px;
  }
}

/* 긴 일반 스마트폰 모바일(가로) */
@media only screen and (min-device-width: 768px) and (max-device-width: 823px) and (orientation: landscape) {
  .signin_container {
    width: 85%;
    height: 71vh;
  }
  .signin_tail {
    width: 85%;
    height: 12vh;
  }
  .signin____header____tail {
    justify-content: flex-end;
  }
  .signin_header_logo {
    width: 30%;
  }
  .signin_body_name {
    height: 45%;
  }
  .signin_body_password {
    height: 40%;
  }
  .signin_body_loginAndSignup {
    height: 12%;
    flex-direction: row;
  }
  .signin_body_name_column,
  .signin_body_password_column {
    font-size: 12px;
  }
  .signin_body_name_input_validation,
  .signin_body_name_input_validation2,
  .signin_body_password_input_validation,
  .signin_body_name_input_login1 {
    font-size: 10px;
  }
  .signin_body_loginBtn,
  .signin_body_signupBtn,
  .signin_body_loginBtn2 {
    font-size: 10px;
  }
}

/* 태블릿, 아이패드(가로) */
@media (min-width: 824px) and (max-width: 1024px) and (orientation: landscape) {
  .signin_body_name {
    height: 30%;
  }
  .signin_body_password {
    height: 30%;
  }
  .signin_body_loginAndSignup {
    height: 20%;
  }
}

/* 태블릿, 아이패드(세로) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
}

/* 아이패드 프로(세로) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .signin_header_logo {
    height: 100%;
  }
}
