#test {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test_____header____tail {
  display: flex;
  width: 75%;
  /* width: 100%; */
  min-width: 500px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 65vh;
  min-height: 400px;
  text-align: center;
}

.header_problem_score_speed_column,
.header_problem_score_accuracy_column,
.header_problem_score_time_column {
  color: #e53a40;
  font-size: max(0.7em, 1.3vw);
}

/* .header_problem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-width: 480px;
  height: 45vh;
  text-align: center;
  background: url("../image/rankback.png");
  z-index: 1;
  border: solid 15px #383a3f;
  border-bottom-width: 25px;
  border-top-width: 25px;
  border-radius: 0.6rem 0.6rem 0 0;
} */

.header_problem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  height: 70%;
  color: white;
  font-size: 20px;
  background: url("../image/rankback.png");
  border: solid 10px #383a3f;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-radius: 0.6rem 0.6rem 0 0;
}

.header_problem_score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: 15%;
}

.header_problem_score_speed {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_problem_score_accuracy {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_title {
  color: #efdc05;
  font-size: max(0.7em, 1.3vw);
}

.header_titleAndProblem {
  width: 80%;
  height: 50%;
}

.header_problem_count_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.header_titleAndProblem_print {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.header_titleAndProblem_print_header {
  width: 100%;
  color: #e53a40;
  font-size: max(0.7em, 1.3vw);
}

.header_titleAndProblem_print_body {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  width: 100%;
  place-content: center;
  color: #33ffff;
  font-size: max(0.8em, 1.4vw);
}

.header_titleAndProblem_print_body_speed {
  display: flex;
  flex-direction: column;
}

.header_titleAndProblem_print_body_speed_column,
.header_titleAndProblem_print_body_time_column,
.header_titleAndProblem_print_body_speed_result,
.header_titleAndProblem_print_body_time_result,
.header_titleAndProblem_print_body_name_column,
.header_titleAndProblem_print_body_name_result {
  color: #33ffff;
}

.header_problem_result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  height: 11vh;
  min-height: 50px;
  background-color: #cadbe9;
  border-top-width: 2.5px;
  border-top-style: solid;
  border-top-color: #090707;
  border-radius: 0 0 0.6rem 0.6rem;
}

.header_problem_score_speed_result,
.header_problem_score_accuracy_result {
  font-size: max(0.8em, 1.4vw);
}

.header_problem_result_print {
  width: 50%;
  height: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_problem_result_print_body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_problem_result_print_body_speed {
  display: flex;
  flex-direction: column;
}

.header_problem_result_print_body_speed_column,
.header_problem_result_print_body_time_column {
  color: #e53a40;
}

.header_timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random_start {
  cursor: pointer;
}

.random_start_rank {
  cursor: pointer;
}

.tail_button_test_login_true {
  cursor: pointer;
  border: none;
  background: url("../image/power_on.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.tail_button_test_login_false {
  cursor: pointer;
  border: none;
  background: url("../image/power.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.header_problem_result_print_rank {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-size: max(0.8em, 1.4vw); */
}

.header_problem_result_print_rank_text {
  color: #e53a40;
  margin-bottom: 5px;
  font-size: max(0.7em, 1.3vw);
}

/* .header_problem_result_print_rank_top3_print {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr 1.5fr 1.5fr;
  width: 90%;
  place-content: center;
  color: #33ffff;
  font-size: max(0.5em, 1vw);
} */

.header_problem_result_print_rank_top3_print {
  /* display: grid;
  grid-template-columns: 2.5fr 2fr 2.5fr 2fr; 
  place-content: center;
  */
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #33ffff;
  font-size: max(0.6em, 1vw);
}

#header_problem_result_print_rank_top3_print_print_0,
#header_problem_result_print_rank_top3_print_print_1,
#header_problem_result_print_rank_top3_print_print_2 {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-evenly;
}

#header_problem_result_print_rank_top3_print_print_3,
#header_problem_result_print_rank_top3_print_print_4,
#header_problem_result_print_rank_top3_print_print_5,
#header_problem_result_print_rank_top3_print_print_6,
#header_problem_result_print_rank_top3_print_print_7,
#header_problem_result_print_rank_top3_print_print_8,
#header_problem_result_print_rank_top3_print_print_9 {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-evenly;
  visibility: hidden;
}

.header_problem_result_print_rank_top_ranker,
.header_problem_result_print_rank_speed_column,
.header_problem_result_print_rank_time_column,
.header_problem_result_print_rank_name_column {
  width: 15%;
}

.header_problem_count {
  display: inline-block;
  font-size: max(0.8em, 1.4vw);
}

.header_problem_tail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.header_problem_tail_end {
  display: none;
}

.typing {
  width: 25vw;
  max-width: 450px;
  height: 4vh;
  overflow: hidden;
  resize: none;
  font-size: 1.1vw;
}

#show {
  margin-top: 5px;
  font-size: max(0.8em, 1vw);
}

.test_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10vh;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-content: center;
  grid-gap: 0.3rem;
  padding: 1rem;
  width: 45vw;
  max-width: 800px;
  min-width: 300px;
  background: #cadbe9;
  border-radius: 0.8rem;
}

.btn_1,
.btn_2,
.btn_3,
.btn_4,
.btn_11 {
  font-size: 0.8vw;
  text-align: center;
  color: #fffff3;
  background: #090707;
  border-radius: 0.6rem;
  padding: 30%;
  transition: all 0.5s ease;
}

.pressed {
  background-color: #e53a40;
  transform: scale(1.2);
}

.btn_11:nth-child(12) {
  grid-column: 2;
}

.btn_4:nth-child(21) {
  grid-column: 3;
}

.btn_1_end,
.btn_2_end,
.btn_3_end,
.btn_4_end,
.btn_11_end {
  font-size: 0.8vw;
  text-align: center;
  color: #fffff3;
  background: #090707;
  border-radius: 0.6rem;
  padding: 30%;
  transition: all 0.5s ease;
}

.btn_11_end:nth-child(12) {
  grid-column: 2;
}

.btn_4_end:nth-child(21) {
  grid-column: 3;
}
