#test {
  display: flex;
  /* display: grid; */
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 20rem;
  text-align: center;
  border: solid red;
}

.header_problem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  font-size: 20px;
}

.header_timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.test_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40rem;
  text-align: center;
  border: solid blue;
}

.test_run {
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
  height: 40rem;
  border: solid black;
  background-color: #ffeee4;
}

.test_run_1st {
  /* text-align: left; */
  display: flex;
  justify-content: flex-start;
}

.test_run_challenger {
  display: flex;
  justify-content: flex-start;
}

.runImg {
  /* position: relative;
  animation-name: slidein;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */
  position: relative;
  animation-name: challenger;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  /* animation-duration: 30s; */
}

@keyframes slidein {
  0% {
    left: 0%;
  }
  100% {
    left: 88%;
  }
}

.run_challenger {
  position: relative;
  animation-name: challenger;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  /* animation-duration: 30s; */
}

@keyframes challenger {
  0% {
    left: 1%;
  }
  100% {
    /* left: 250px; */
    /* left: 1000px; */
    left: 89%;
  }
}

.test_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5rem;
  text-align: center;
  border: solid green;
}

.typing {
  width: 65%;
  height: 70%;
  overflow: hidden;
  resize: none;
  font-size: 25px;
}

.btn_1,
.btn_2,
.btn_3,
.btn_4,
.btn_11 {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background: black;
  border-radius: 0.6rem;
  padding: 1.3rem;
  transition: all 0.5s ease;
}

.pressed {
  background: tomato;
  transform: scale(1.2);
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-content: center;
  grid-gap: 0.4rem;
  padding: 1rem;
  width: 60vw;
  height: 100vh;
  /* background: skyblue; */
}

.btn_11:nth-child(12) {
  grid-column: 2;
}

.btn_4:nth-child(21) {
  grid-column: 3;
}
